.page7{
    height: 100vh;
    background-image: url('../../assets/page7.jpg');
    background-size: cover;
    background-position: center;
}
.end{
    display: flex;
    gap: 3vh;
    padding-top: 10vh;
    padding-left: 50vh;
     
}